<script type="text/javascript">
  $('body').addClass('color-6');
</script>

<h1>Newsletter Subscriptions</h1>

<h3>Subscription Confirmed!</h3>

<%= link_to "Back to homepage", root_url, class: "btn btn-warning" %>
