<script type="text/javascript">
  $('body').addClass('color-6');
</script>

<h1>Sign In:</h1>

<%= render 'form' %>

<p class="mt15">If you are new please: <%= link_to "sign up", new_parent_url, class: "btn btn-warning" %></p>
