<script type="text/javascript">
  $('body').addClass('color-6');
</script>

<h1>Newsletter Subscriptions:</h1>

<h3>Almost Done....</h3>

<p>We need to confirm your email address, please click on the link we have just sent you.</p>

<%= link_to "Back to homepage", root_url, class: "btn btn-warning" %>
