<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <%= render 'kids_data', the_child: child %>
      </div>
      <div class="modal-body">
        <h4>Organizations with Permission:</h4>
        <ul>
          <% child.authorizations.each do |the_authorization| %>
            <%= render 'authorization', authorization: the_authorization, the_child: child %>
          <% end %>
          <li id="click_to_add">
            <%= link_to '<i class="icon-plus-sign-alt"></i><click to>'.html_safe, new_authorization_url(child: child), remote: true %>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
