$('#myModal').modal('hide');
setTimeout(function() {
  var modal = $('<%= j(render 'modal', child: @child) %>');
  $('#myModal').replaceWith(modal);
  $('#myModal').modal();
  var notice = $('<div><%= j(render 'layouts/flash') %></div>');
  notice.hide();
  $('.modal-header h3').after(notice);
  setTimeout(function() { notice.slideDown(); }, 500);
}, 1000);
