$('#new_child').slideUp(1000)
setTimeout(function() { $('#new_child').remove(); }, 5000);
var child = $('<%= j(render 'parents/child_block', the_child: @child) %>');
// child.css("display", "none");
$('.row').append(child);
// setTimeout(function() { child.slideDown(); }, 1000);
var notice = $('<div><%= j(render 'layouts/flash') %></div>');
notice.css("display", "none");
$('h1').after(notice);
setTimeout(function() { notice.slideDown(); }, 1000);
setTimeout(function() { $('.btn-danger').slideToggle(); }, 1500);

