var child_element = $('<div id="child-block"><h3>Add a Child:</h3><%= j(render 'form') %></div>')
child_element.css("display", "none")
$('.btn-danger').before(child_element)
child_element.slideDown()
$('.btn-danger').slideToggle();


