<div class="panel panel-primary col-md-4">
  <div class="panel-heading">
    <%= link_to the_child.first_name, child_url(the_child.id), class: "btn" %>
    <span class="badge pull-right mt15"><%= the_child.organizations.count %></span>
  </div>
  <div class="panel-body">
    <% the_child.organizations.each do |organization|%>
      <%= link_to organization.name, organization_url(organization.id) %>
      <br>
    <% end %>
  </div>
  <div class="panel-footer height50">
    <%= link_to '<i class="icon-edit-sign"></i> Edit'.html_safe, child_url(the_child), remote: true, class: "pull-right" %>
  </div>
</div>


