<h1>Welcome back <%= @parent.first_name %></h1>

<p>In order to use the system you need to confirm you email address. Please click on the link in the email send to the email address used to register, or you can request the email to be <%= link_to "send again", confirm_url %>.</p>

