.mt15 {
  margin-top: 15px;
}
.mb10 {
  margin-bottom: 10px
}
.mb0 {
  margin-bottom: 0px
}
.ptb5 {
  padding-bottom: 5px;
  padding-top: 5px;
}
.pt5 {
  padding-top: 5px;
}
.width250 {
  width: 250px
}
.mr8 {
  margin-right: 8px
}

.height50 {
  height: 50px;
}
