<div class="height110">
</div>
<footer class="page color-5" id="footer">
  <div class="inner-page row container pt5">
    <div class="col-md-6 social">
      <%= link_to '<i class="icon-twitter"></i>'.html_safe, 'https://twitter.com/Kids360Now' %>
      <%= link_to '<i class="icon-facebook-sign"></i>'.html_safe, 'https://www.facebook.com/kids360Now' %>
      <%= link_to "Company Blog", "http://kids360now.wordpress.com/", class: 'ml10', target: "_blank" %>
      <!-- <a href="#contact"><i class="icon-google-plus-sign"></i></a> -->
    </div>
    <div class="col-md-6 text-right copyright">
      &copy; 2013 <a href="http://kids360now.com">Kids360&deg;</a> | all rights reserved | <a href="#top" title="Got to top" class="scroll">To top <i class="icon-caret-up"></i></a>
    </div>
  </div>
</footer>
